body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
* {
    box-sizing: border-box;
    /* box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.62); */
}
.default-content-width {
    max-width: 960px;
    padding: 0 10px;
    margin: auto;
}

/* ============================
        HEADER
============================== */

.header-section {
    overflow: hidden;
}
.head-panel {
    height: 100px;
}
.head-panel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-panel-container img {
    padding: 12.5px 0;
}
.head-contact {
    text-align: right;
}
.head-contact .phone-number {
    font-weight: 700;
    font-size: 21px;
    color: #5e5e5e;
    margin: 10px 0 0 0;
}
.head-contact .order-back-call-link {
    font-weight: 500;
    font-size: 11px;
    background-color: transparent;
    border: none;
    padding: 0;
}
.underlined-text {
    color: #5892a6;
}
.underlined-text::after {
    content: "";
    display: block;
    border-top: 1px solid #5892a6;
}
.underlined-text:hover {
    cursor: pointer;
}
.underlined-text:hover::after {
    border-color: transparent;
}
.head-content {
    background: url(../images/backgrounds/head.jpg) center no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    padding: 80px 0 65px 0;
}
.head-content-container {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
.head-content .text {
    text-align: right;
    width: 70%;
}
.head-content .text .bold-text {
    font-weight: 700;
    font-size: 41px;
    line-height: 50px;
    color: #535353;
}
.head-content .text .medium-text {
    font-weight: 500;
    font-size: 27px;
    color: #5892a6;
}
.order-back-call-form-container {
    right: 0;
    width: 300px;
    height: 240px;
    border-radius: 18px;
    margin-top: 65px;
    background-color: #fff;
    text-align: center;
    padding: 38px 0;
    -webkit-box-shadow: 0px 0px 21px 1px rgba(104,176,201,0.62);
    -moz-box-shadow: 0px 0px 21px 1px rgba(104,176,201,0.62);
    box-shadow: 0px 0px 21px 1px rgba(104,176,201,0.62);
}
.order-back-call-form-container .question {
    font-weight: 700;
    font-size: 20px;
    color: #5892a6;
    margin-bottom: 14px;
}
.order-back-call-form-container .offer {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
}
.main-btn {
    width: 220px;
    height: 40px;
    border-radius: 17px;
    padding: 0 15px;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background-color: #68b0c9;
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 0px 6px 12px 5px rgba(104,176,201,0.44);
    -moz-box-shadow: 0px 6px 12px 5px rgba(104,176,201,0.44);
    box-shadow: 0px 6px 12px 5px rgba(104,176,201,0.44);
}
.main-btn:hover {
    cursor: pointer;
}
.order-back-call-form .phone-field {
    width: 220px;
    height: 40px;
    border-radius: 17px;
    padding: 0 15px;
}
.order-back-call-form .phone-field:focus,
.order-back-call-form .submit:focus {
    outline: none;
}
.order-back-call-form .phone-field {
    text-align: center;
    border: 1px solid #e8e8e8;
    margin-bottom: 14px;
    color: #535353;
}

/* ==============================
        ADVANTAGES SECTION
================================= */

.advantages-section {
    width: 100%;
    padding: 60px 0 70px;
    overflow: hidden;
}
.title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #535353;
}
.advantages-container {
    max-width: 780px;
    padding-top: 40px;
    margin: auto;
}
.advantages-item {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 77px;
    text-align: left;
}
.advantages-item:nth-of-type(2n) {
    flex-flow: row-reverse;
    text-align: right;
}
.advantages-item .description {
    width: 50%;
    padding-top: 10px;
}
.advantages-item .arrow {
    position: absolute;
    top: 25px;
}
.advantages-item .arrow-right {
    left: 40%;
}
.advantages-item .arrow-left {
    right: 40%;
}
.advantages-item-title {
    font-weight: 700;
    font-size: 26px;
    color: #68b0c9;
    padding: 20px 0 30px;
}
.advantages-item-text {
    font-weight: 400;
    font-size: 18px;
    color: #535353;
}
@media (max-width: 720px) {
    .advantages-item .arrow-right {
        left: 30%;
    }
    .advantages-item .arrow-left {
        right: 30%;
    }
}
@media (max-width: 580px) {
    .advantages-item .arrow-right {
        left: 20%;
    }
    .advantages-item .arrow-left {
        right: 20%;
    }
}

/* ==============================
        ACTION SECTION
================================= */

.sale-section {
    background: url(../images/backgrounds/price.jpg) center no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    padding: 70px 0 40px 0;
}
.sale-section {
    overflow: hidden;
}
.sale-section .sale-content-container {
    text-align: center;
    display: flex;
    justify-content: flex-end;
}
.price-content {
    min-width: 380px;
}
.term .text {
    color: #535353;
}
.term .text .first-row {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 55px;
    line-height: 40px;
}
.term .text .second-row {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 40px;
}
.term .text .third-row {
    font-size: 25px;
    line-height: 38px;
    color: #68b0c9;
}
.sale {
    position: relative;
}
.sale-block {
    margin-top: 45px;
    padding: 30px 0;
    border-radius: 18px;
    border: 5px solid #fff;
}
.about-sale {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-sale .term,
.about-sale .month {
    font-size: 14px;
    color: #ba6c6c;
    width: 25%;
}
.about-sale .term {
    text-align: left;
}
.about-sale .date {
    background: url(../images/price-section/calendar.png) no-repeat center;
    width: 48px;
    height: 43px;
    line-height: 43px;
    font-size: 30px;
    color: #fff;
    margin: 0 10px;
}
.sale-block .main-btn {
    margin-top: 35px;
}
.price-arrow {
    position: absolute;
    top: 100px;
    right: 335px;
}
.price-circle {
    position: absolute;
    top: -65px;
    left: -285px;
    background-color: #fff;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    padding: 40px 0;
}
.price-circle .old-price {
    text-decoration: line-through;
    font-size: 18px;
    font-weight: 300;
}
.price-circle .old-price::after {
    content: "";
    display: block;
    border-bottom: 1px solid #e8e8e8;
    height: 10px;
    width: 120px;
    margin: auto;
}
.price-circle .new-price {
    margin-left: 8px;
    font-size: 30px;
    font-weight: 700;
    line-height: 47px;
    color: #d04545;
}

/* ==============================
        COUNTER SECTION
================================= */

.counter-section {
    padding: 60px 0 60px;
    overflow: hidden;
}
.counters-container {
    display: flex;
    justify-content: space-around;
}
.counter,
.event-name {
    margin: auto;
}
.event-name {
    margin-top: 20px;
}
.counter {
    background: url(../images/sit-icon.png) center no-repeat;
    width: 130px;
    height: 95px;
    font-size: 48px;
    color: #68b0c9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-name {
    font-size: 18px;
    font-weight: 500;
    color: #535353;
}

/* ==============================
        SECTIFICATION SECTION
================================= */

.certification-section {
    background: url(../images/backgrounds/gradient-certification.jpg) center no-repeat;
    background-size: cover;
    height: auto;
    padding: 80px 40px;
    overflow: hidden;
}
.certification-section .title {
    padding-bottom: 55px;
}
.certification-container {
    display: flex;
    justify-content: space-around;
}
.certification-container .certificate-photo {
    width: 264px;
    height: 324px;
    padding-right: 10px;
}
.certification-container .certification-description {
    width: 50%;
}
.certification-description .certification-header {
    display: flex;
}
.certification-description .certification-header img {
    width: 66px;
    height: 44px;
    padding-right: 20px;
}
.certification-description .certification-header p {
    font-size: 22px;
    font-weight: 700;
    color: #68b0c9;
}
.certification-description .certification-text {
    padding-top: 45px;
    font-size: 18px;
    color: #323232;
}
.certification-description .certification-text p {

    padding-bottom: 30px;
}

@media (max-width: 710px) {
    .certification-section {
        padding: 40px 10px;
    }
}
@media (max-width: 525px) {
    .certification-container {
        flex-direction: column;
        align-items: center;
    }
    .certification-container .certification-description {
        padding-top: 30px;
        width: 80%;
    }
    .certification-section .title {
        padding-bottom: 30px;
    }
}

/* ==============================
        DESCRIPTION SECTION
================================= */

.description-section {
    background-color: #fff;
    padding: 70px 0 80px;
    height: auto;
    overflow: hidden;
}
.description-container {
    display: flex;
}
.first-column,
.second-column {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30%;
}
.first-column .description-item {
    text-align: right;
}
.first-column .description-item:nth-of-type(2n) {
    position: absolute;
    top: 200px;
}
.second-column .description-item:nth-of-type(2n) {
    position: absolute;
    top: 200px;
}
.photos {
    position: relative;
}
.baby-chair-photo {
    width: 181px;
    height: 333px;
    margin: 0 80px;
}
.description-arrrow {
    position: absolute;
}
.left-top-arrow {
    top: 9px;
    left: 17px;
}
.left-bottom-arrow {
    top: 171px;
    left: -15px;
}
.right-top-arrow {
    top: -34px;
    right: -5px;
}
.right-bottom-arrow {
    top: 212px;
    right: 7px;
}
.description-item .description-item-title {
    font-size: 20px;
    font-weight: 700;
    color: #68b0c9;
    margin-bottom: 20px;
}
.description-item .description-item-text {
    font-size: 14px;
    font-weight: 300;
    color: #606060;
}


/* ==============================
        BUY NOW SECTION
================================= */

.buy-now-section {
    padding: 54px 0 50px;
    background-color: #ecf3f8;
    background-image: url(../images/backgrounds/buy-now.png);
    background-position: center;
    background-repeat: no-repeat;
}
.buy-now-section .price-circle {
    padding-top: 30px;
    text-align: center;
    top: 0;
    left: 27%;
}
.buy-now-section .price-circle-text {
    font-weight: 700;
    font-size: 17px;
    color: #68b0c9;
    margin-bottom: 10px;
}
.buy-now-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.buy-now-section-order-container {
    position: relative;
}
.buy-now-section-order-text {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    width: 260px;
    padding: 0 15px;
    margin-right: 115px;
    margin-bottom: 25px;
}
.buy-now-section-order .main-text {
    color: #535353;
}
.buy-now-section-order .marked-text {
    color: #68b0c9;
    background-color: #fff;
    margin-top: 10px;
}
.buy-now-section .order-back-call-form input {
    display: block;
    height: 45px;
    width: 260px;
}
.buy-now-section .phone-field {
    margin-bottom: 23px;
}
.buy-now-arrow {
    position: absolute;
    top: 57px;
    right: 8px;
}

@media (max-width: 850px) {
    .buy-now-section .default-content-width {
        padding: 0;
    }
    .buy-now-section {
        background: none;
        height: 618px;
    }
    .buy-now-section-price {
        z-index: 10;
        height: 330px;
        background: url(../images/backgrounds/medium.png) center no-repeat;
    }
    .buy-now-container {
        flex-direction: column;
        position: relative;
    }
    .buy-now-section-order {
        z-index: 1;
        position: absolute;
        top: 315px;
        background-color: #ecf3f8;
        padding: 40px 0;
        width: 100%;
    }
    .buy-now-section-order-container {
        width: 400px;
        margin: auto;
        padding-left: 75px;
    }
    .buy-now-section .price-circle {
        top: 76px;
        left: 39%;
    }
    .buy-now-arrow {
        top: 57px;
        right: -17px;
    }
}
@media (max-width: 590px) {
    .buy-now-section-price {
        background-color: #ecf3f8;
        background-position: left;
        background-image: url(../images/backgrounds/small.png);
    }
    .buy-now-section .price-circle {
        top: 76px;
        left: 55%;
    }
    .buy-now-section-price {
        height: 320px;
    }
    .buy-now-arrow {
        display: none;
        padding: 0;
    }
    .buy-now-section-order-container {
        width: 260px;
        padding-left: 0;
    }
}

/* ==============================
        COMPARING SECTION
================================= */

.comparing-section {
    padding: 70px 0;
    overflow: hidden;
}
.comparing-container {
    display: flex;
    justify-content: space-between;
}
.col-1-2 {
    width: 49%;
}
.col-1-2 .comparing-title {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 40px;
}
.col-1-2.left-column .comparing-title {
    color: #535353;
    padding-right: 20px;
}
.col-1-2.right-column .comparing-title {
    color: #68b0c9;
    padding-left: 20px;
}
.col-1-2.left-column .comparing-inner-container > img {
    width: 86px;
    height: 299px;
}
.col-1-2 .comparing-inner-container {
    display: flex;
    justify-content: space-between;
}
.col-1-2 .compare-text-container {
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.compare-text {
    width: 100%;
    font-weight: 700;
    font-size: 15px;
}
.left-column {
    text-align: right;
}

.left-column .compare-text {
    color: #939393;
}
.right-column .compare-text {
    color: #68b0c9;
}
.compare-arrows-container {
    position: relative;
    min-width: 100px;
    width: 30%;
}
.compare-arrows-container .compare-arrows {
    position: absolute;
}
.left-column .compare-arrows {
    left: 10px;
}
.right-column .compare-arrows {
    right: 10px;
}
.compare-first-arrow,
.compare-fifth-arrow {
    top: 6px;
}
.compare-second-arrow,
.compare-sixth-arrow {
    top: 106px;
}
.compare-third-arrow,
.compare-seventh-arrow {
    top: 174px;
}
.compare-fourth-arrow,
.compare-eighth-arrow {
    top: 228px;
}
.separator {
    margin-top: 60px;
    width: 1px;
    height: 300px;
    background-color: #68b0c9;
}

@media (max-width: 800px) {
    .compare-first-arrow,
    .compare-fifth-arrow {
        top: 6px;
    }
    .compare-second-arrow,
    .compare-sixth-arrow {
        top: 110px;
    }
    .compare-third-arrow,
    .compare-seventh-arrow {
        top: 170px;
    }
    .compare-fourth-arrow,
    .compare-eighth-arrow {
        top: 218px;
    }
}
@media (max-width: 760px) {
    .comparing-container {
        flex-direction: column;
        align-items: center;
    }
    .col-1-2 {
        width: 60%;
    }
    .separator {
        display: none;
    }
    .right-column {
        padding-top: 40px;
    }
    .comparing-title {
        text-align: center;
    }
}

/* ==============================
        COMPARING SECTION
================================= */

.location-section {
    background-color: #ecf3f8;
    padding: 50px 0;
}
.location-container {
    display: flex;
    justify-content: space-between;
}
.map-block{
    width: 460px;
    -moz-border-radius: 14px 14px 14px 14px; /* Firefox */
    -webkit-border-radius: 14px 14px 14px 14px; /* Safari, Chrome */
    -khtml-border-radius: 14px 14px 14px 14px; /* KHTML */
    border-radius: 14px 14px 14px 14px; /* CSS3 */
    overflow: hidden;
    position: relative; 
}
.location-text-container {
    text-align: center;
    width: calc(100% - 460px);
    padding: 30px 0 30px 10px;
}
.location-text-container .text {
    font-size: 16px;
    color: #535353;
    margin-bottom: 20px;
}
.location-text-container .marked-text {
    font-size: 20px;
    font-weight: 700;
    color: #68b0c9;
    margin-bottom: 55px;
}
.location-text-container > img {
    margin-bottom: 20px;
}

@media (max-width: 760px) {
    .location-container {
        flex-direction: column;
        align-items: center;
    }
    .location-container .map-block,
    .location-container .location-text-container {
        width: 80%;
    }
}

/* ==========================
        FOOTER
============================ */

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
}
.footer-container .underlined-text {
    font-size: 14px;
}
.footer-container .numbers {
    text-align: right;
    font-size: 14px;
    color: #505050;
}